/ NAV BAR
%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ "style" => 'padding-right:0;'}
        %img{:src=>"/img/logo.jpg"}
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href=>"/#home"} HOME
        %li
          %a{:href=>"/#benefits"} BENEFITS
        %li
          %a{:href=>"/#tour"} TOUR
        %li
          %a{:href=>"/#pricing"} PRICING
        %li
          %a{:href=>"/#team"} THE TEAM
        %li
          %a BLOG
        %li
          %a{:href=>"/#contact"} CONTACT
    / /.navbar-collapse
  / /.container
/ End of NAV BAR
/ HEADER
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message.col-xs-12.col-sm-8#home
          %h2 A new way to manage your construction project.
          %p Designed for you, the homeowner, taking the uncertainty out of the building process and giving you a sense of control throughout the project, even if you have never built a home before.
          %a{:href=>"/#pricing"}
            %button.btn.btn-success
              SIGN UP NOW AND SAVE 
              %img{:src=>"/img/arrow-down.svg"}
  / /.container
/ /.intro-header
/ End of HEADER
/ BENEFITS SECTION
.content-wood
  .content-section-a#benefits
    %h1 Benefits 
    %hr.section-heading-spacer/
    .container
      .benefits.col-md-4.col-sm-4
        %img.img-responsive{alt:"", src: "/img/benefits-easy.svg"}/
        %h4 EASY
        %p As easy to use as email. The program comes "pre-set" to build a typical home, all you have to do is adjust the timeline and budget parameters.
        %a.read-more.read-more{"data-toggle" => "collapse", :href => ".collapse1"} 
          Read more
        .collapse1.panel-collapse.collapse
          .panel-body
            We will answer any questions through our forum on our blog, which allows other users to benefit from your questions as well.

        %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse1"} 
          Read less

    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-informative.svg"}/
      %h4 INFORMATIVE
      %p You can view the progress, timeline, budget, immediate to-do's and emails notices all at once and then drill down to get more information.
      %a.read-more{"data-toggle" => "collapse", :href => ".collapse2"} 
        Read more
      .collapse2.panel-collapse.collapse
        .panel-body
          Know in real time where your project is at and what everyone on your team is looking at. 
      %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse2"} 
        Read less
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-affordable.svg"}/
      %h4 AFFORDABLE
      %p When you think of what you are investing, and it's potential outcomes, this program is astonishingly affordable, practical and a must have.
      %a.read-more{"data-toggle" => "collapse", :href => ".collapse3"} 
        Read more
      .collapse3.panel-collapse.collapse
        .panel-body
          To have an architect or designer manage your building team and monitor your construction could cost 1-5% of your building cost at approximately $100/per hour. My EZ Build is only a fraction of 1% of your construction costs. 

      %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse3"} 
        Read less
  / /.container
  .container
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-accountability.svg"}/
      %h4 ACCOUNTABILITY
      %p MyEZBuild's owner/builder contract holds the builder accountable to updating the budget and timeline on a specific weekly or bi-weekly basis.
      %a.read-more{"data-toggle" => "collapse", :href => ".collapse4"} 
        Read more
      .collapse4.panel-collapse.collapse
        .panel-body
          No more guessing if you are under or over budget, ahead or behind schedule.
      %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse4"} 
        Read less
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-decision.svg"}/
      %h4 DECISIONS
      %p We have eliminated the guess work by preparing a list of all the material selections you will need to make for a standard 3 bedroom, 2.5 bath home.
      %a.read-more{"data-toggle" => "collapse", :href => ".collapse5"} 
        Read more
      .collapse5.panel-collapse.collapse
        .panel-body
          All material selections are linked to your budget but more importantly are automatically linked your to-do list and your timeline so you know what date those selections need to be made by in order to keep your project on track. 
      %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse5"} 
        Read less
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-mobility.svg"}/
      %h4 MOBILITY
      %p Documents, budgets, timelines, changes, material selections and communication, can be accessed from any mobile device or computer with internet connection.

/ /.content-section-a
/ End of BENEFITS SECTION
/ TOUR SECTION
.content-section-b#tour
  %h1 Tour
  %hr.section-heading-spacer/
  .container
    .row
      .col-md-6
        .clearfix
        %h3.section-heading
          ONE CENTRAL DASHBOARD
        %ul.lead
          %li Progress bar shows start and end date.
          %li To do list notifications.
          %li Email notifications.
          %li Budget access and timeline access.
        %a.read-more{"data-toggle" => "collapse", :href => ".collapse0"} 
          Read more
        .collapse0.panel-collapse.collapse
          .panel-body
            %ul
              %li File cabinet to find all your plans and documents
              %li Quick access to material selection files
              %li Access portal for you to control users ad permissions
          %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse0"} 
            Read less
      .col-md-6
        %modal.fancybox{'data-fancybox-href' => '/img/big-tour/tour-dashboard.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-dashboard.jpg"}/
    %hr.section-between-spacer/
    .row
      .col-md-6
        .clearfix
        %h3.section-heading
          ORGANIZE YOUR PROJECT
        %ul.lead
          %li Urgent To-do's are shown on your dashboard when opening your project file.
          %li Create and date your to-do items and they will progress from green, to yellow, to red automatically.
          %li Critical path To-do's are generated automatically for youby the builder when he set's up the timeline. These to-do's must be completed on time to keep the project on schedule.
        %a.read-more{"data-toggle" => "collapse", :href => ".collapse7"} 
          Read more
        .collapse7.panel-collapse.collapse
          .panel-body
            %ul
              %li Owner and rest of team can add to-do’s to each others to-do list to assign a due date
              %li Everyone’s To-do lists are visible to everyone on the team but you can choose to make to-dos that are not on the critical path private
          %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse7"} 
            Read less
      .col-md-6
        %modal.fancybox{'data-fancybox-href' => '/img/big-tour/tour-todo.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-todo.jpg"}/
    %hr.section-between-spacer/
    .row
      .col-md-6
        %a.fancybox{href: '/img/big-tour/tour-timeline.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-timeline.jpg"}/
      .col-md-6
        .clearfix
        %h3.section-heading KNOW WHEN YOUR PROJECT WILL BE READY
        %ul.lead
          %li Having a timeline front and center everyday keeps everyone focus on the price, the move in date.
          %li Once the timeline is initially set up by your builder, the owner will lock it in. Any subsequent changes to the timeline will be name and date stamped with whomever made the changes.
          %li The timeline is generated and linked to the to-do list, these "critical path" to-do's need to be checked off in order for the timeline to move forward.
    %hr.section-between-spacer/
    .row
      .col-md-6
        .clearfix
        %h3.section-heading
          ALLOCATE YOUR BUDGET
        %ul.lead
          %li "Real time" Budget summary is always visible on your project dashboard.
          %li Once the builder has set budget, the owner will lock it in and all further changes will be name and date stamped with whomever made the changes
          %li All invoices accepted by the owner automatically update the budget.
          %li All change orders are shown in the budget for future budget projections.
        %a.read-more{"data-toggle" => "collapse", :href => ".collapse9"} 
          Read more
        .collapse9.panel-collapse.collapse
          .panel-body
            %ul
              %li All estimates in discussion are shown as well so the budget is as “real time” as possible for the owner
              %li Budget visibility can be made private by the owner. 
              %li A typical budget is pre-set so the builder can easily add or adjust the budget as needed for you project.
              %li All estimates, change orders, and invoices are created and accepted or rejected by the owner through this system.
        %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse9"} 
          Read less
      .col-md-6
        %a.fancybox{href: '/img/big-tour/tour-budget.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-budget.jpg"}/
    %hr.section-between-spacer/
    .row
      .col-md-6
        %a.fancybox{href: '/img/big-tour/tour-messages.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-messages.jpg"}/
      .col-md-6
        .clearfix
        %h3.section-heading COMMUNICATE WITH YOUR TEAM
        %ul.lead
          %li Newest emails are visible on your dashboard.
          %li Keep your project communication separate from personal with MyEZbuild email.
          %li All communication is documentes throughout and archive at the close of the project.
    %hr.section-between-spacer/
    .row
      .col-md-6
        .clearfix
        %h3.section-heading
          YOUR HOME, YOUR STYLE
        %ul.lead
          %li Pre-set itemized list of products and materials for the interior and exterior of your home.
          %li Add rooms and materials as needed to customize settings to your project.
          %li Builder will assign dates to materials that are part of the critical path.
          %li Once you have decided a selection is final just check the box in the file, the folder color changes, and a copy is automatically sent to the builder as a signal to order the materials.
        %a.read-more{"data-toggle" => "collapse", :href => ".collapse11"} 
          Read more
        .collapse11.panel-collapse.collapse
          .panel-body
            %ul
              %li Link pictures and specifications to your favorite web library like houzz and Pinterest.
              %li You can keep this file active online at the end of your project to use as a reference as you complete the final touches in your home after you have moved in.
        %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse11"} 
          Read less
      .col-md-6
        %a.fancybox{href: '/img/big-tour/tour-materialsandfiles.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-materialsandfiles.jpg"}/
    %hr.section-between-spacer/
    .row
      .col-md-6
        %a.fancybox{href: '/img/big-tour/tour-filecabinet.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-filecabinet.jpg"}/
      .col-md-6
        .clearfix
        %h3.section-heading EVERYTHING IN THE SAME PLACE
        %ul.lead
          %li Virtual file cabinet preset with typical folders you will need for your project.
          %li All invoices, change orders and estimates are automatically saved to their designated folders when they are accepted or rejected by you.
          %li All folders and files are available anytime from anywhere for your use.
          %li Easily add or change file folders as needed.
  / /.container
/ /.content-section-b
/ End of TOUR SECTION
/ PRICING SECTION

.content-wood
  .content-section-a.pricing#pricing
    %h1 Pricing
    %hr.section-heading-spacer/
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          %p Sign up for MyEZBuild membership while it's still in development and you can lock in your monthly billing for a great discounted rate for life. Billing will start only when the product is released.
        .clearfix
      .row
        .col-md-4.col-sm-4.leads
          .prices
            %h3 BASIC
            %hr.section-heading-spacer/
            %h4.line-through $89/month
            %h4.important $39/month - Limited time only
            %hr.section-between-spacer/
            %ul.lead
              %li Single project at a time capabilities.
              %li Community home owners forum to exchange ideas and ask questions.
              %li
                Limited project management:
                %ul
                  %li No virtual cabinet.
                  %li No MyEZbuild email.
            %button.btn.btn-success.fancymodal{"data-fancybox-href" => "#lead-content","data-type" => 'BASIC'} CONTACT US TO GET STARTED
        .col-md-4.col-sm-4.leads
          .prices
            %h3 PREMIUM
            %hr.section-heading-spacer/
            %h4.line-through $145/month
            %h4.important $69/month - Limited time only
            %hr.section-between-spacer/
            %ul.lead
              %li
                Full Project management:
                %ul
                  %li Virtual file cabinet.
                  %li Integrated email.
              %li Manage up to 3 projects at a time.
              %li Community home owners forum to exchange ideas and ask questions.
            %button.btn.btn-success.fancymodal{"data-fancybox-href" => "#lead-content","data-type" => 'PREMIUM'} CONTACT US TO GET STARTED
        .col-md-4.col-sm-4.leads
          .prices
            %h3 ULTRA
            %hr.section-heading-spacer/
            %h4.line-through $195/month
            %h4.important $99/month - Limited time only
            %hr.section-between-spacer/
            %ul.lead
              %li Unlimited number of projects.
              %li 1-hour phone call consultation with the EZ Build team per month.
              %li Unlimited emails to My EZ Builds team regarding your home building process.
              %li{:style=>"color: white;"}
            %button.btn.btn-success.fancymodal{"data-fancybox-href" => "#lead-content","data-type" => 'ULTRA'} CONTACT US TO GET STARTED
      .row
        .col-md-10.checkmarks
          .col-md-6
            %ul.list-inline
              %li
                %img{:src=>"/img/checkmark.svg"}
              %li.lead Monthly billing, as long as your project is active.
            %ul.list-inline
              %li
                %img{:src=>"/img/checkmark.svg"}
              %li.lead You can cancel your subscription at anytime.
            %ul.list-inline
              %li
                %img{:src=>"/img/checkmark.svg"}
              %li.lead 60 day money back guarantee.
          .col-md-6
            %ul.list-inline
              %li
                %img{:src=>"/img/checkmark.svg"}
              %li.lead Full software support forum.
            %ul.list-inline
              %li
                %img{:src=>"/img/checkmark.svg"}
              %li.lead Community forum of others building a home.
      %hr.section-between-spacer/
      %p.lead It is helpful to remember that most bank construction loans require that the home be completed in 9-12 months. So you will only need a subscription to this service for as long as you need your project active. When you are finished you can archive and download your project. It is free to reactivate MyEZBuild at any time as well as upgrade your subscription.
    / /.container
  / /.content-section-a
  / End of PRICING SECTION

/ THE TEAM SECTION
  .content-section-b#team
  %h1 The Team
  %hr.section-heading-spacer/
  .container
    .row
      .col-md-8.col-sm-8
        %h3 TIRZAH LYNN WOODS
        %p.smalleritalic Degree: B.A. in Interior Design 1993
        %p.smalleritalic Currently is completing her internship to become an architect in the state of Washington.
        %p.lead Tirzah has been designing homes and interior spaces for commercial and residential clients for over 20 years in her own practice and with architecture firms.
        %p.lead Her Call to Action Moment:
        %p.lead Over the years I have heard really sad stories from my clients about their house build, but It wasn't until my sister built her home a year ago that I finally said enough is enough. Why do the nicest clients always seem to have the worst stories? It shouldn't be this way! There had to be some way to fix this!
        %a.read-more{"data-toggle" => "collapse", :href => ".collapse13"} 
          Read more
        .collapse13.panel-collapse.collapse
          .panel-body
            %p.lead I want to change the experience of home building for homeowners to be better, happier, and EZIER! So that they can truly enjoy their entire dream home process from design, to building, to dwelling, and avoid home depression. 

            %p.lead My EZ Build is part of that solution.  The other part is the blog I have started to educate and prepare homeowners about the building process.

            %p.lead I consider this my calling.
        %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse13"} 
          Read less
      .col-md-4.col-sm-4.text-center
        %img.img-responsive{:src=>"/img/tirzah.png"}
    .row
      .col-md-4.col-sm-4.text-center.hidden-xs
        %img.img-responsive{:src=>"/img/jeffrey.png"}
      .col-md-8
        %h3 JEFFREY K. WOODS
        %p.smalleritalic Degree: B.S. in Biology and Environmental Science '93
        %p.lead While Jeff has generally worked in the commercial building trades, he has gutted and rebuilt homes and built them from the ground up. Over 20 years he has performed and mastered every aspect of home building pouring concrete, framing, roofing, wiring and plumbing, to drywall, tile and trim.
        %p.lead Jeff has done it all, and his insights are invaluable to this program in tems of its knowledge of home building sequences, methods and best practices.
        %a.read-more{"data-toggle" => "collapse", :href => ".collapse14"} 
          Read more
        .collapse14.panel-collapse.collapse
          .panel-body
            %p.lead His mission: 
            %p.lead “I have always enjoyed working with my hands, fixing things or building. It is a life long passion for me and I love sharing my knowledge with others whenever I can. I am excited to support Tirzah and her clients in My EZ Build by answering any questions you may have regarding the construction or details throughout the home.”

        %a.read-less.hidden{"data-toggle" => "collapse", :href => ".collapse14"} 
          Read less
    .row
      .col-md-8.col-sm-8
        %h3 SOFTWARE CRIOLLO
        %p.lead We turn ideas into exceptional web and mobile apps. 
        %p.lead Whether helping founders get the MVP off the ground or solving a applications bugs or creating and maintaining applications, we regularly overcome these types of challenges for our clients!
        %a.read-more{:href => "http://softwarecriollo.com", :target=>"_blank"} 
          softwarecriollo.com
      .col-md-4.col-sm-4.text-center
        %a{:href=>"http://softwarecriollo.com", :target=>"_blank"}
          %img.img-responsive{:src=>"/img/sclogo.svg"}
/ End of THE TEAM SECTION
/ FOOTER
%footer#contact
  .container
    .row
      .col-md-4.col-sm-4
        %p.lead My EZ Build
        %p.lead P.O. Box XXXX
        %p.lead Bellingham WA, 98225
      .col-md-4.col-sm-4
      .col-md-4.col-sm-4
        %p.lead Contact us:
        %a.lead{:href=>"mailto:support@myezbuild.com"} support@myezbuild.com
        %a.lead{:href=>"mailto:softwaresupport@myezbuild.com"} softwaresupport@myezbuild.com

/Modal
        
#lead-content{style: "display: none;"}
  %section.form{ style: "width: 400px;"}
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        %h2{style:"font-size: 35px;"} Contact Us
        %form#lead{action: "#{url "/leads"}", method: "POST", role: "form"}
          = haml :"_form", :layout => false

/javascript for this page

%link{href: "js/fancybox/jquery.fancybox.css", rel: "stylesheet", type: "text/css"}
%script{src: "js/fancybox/jquery.mousewheel-3.0.6.pack.js"}
%script{src: "js/fancybox/jquery.fancybox.js"}
%script{src: "js/jquery.tooltipster.js"}
%script{src: "js/lead.js"}



