/ NAV BAR
%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ "style" => 'padding-right:0;'}
        %img{:src=>"/img/logo.jpg"}
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href=>"/#home"} HOME
        %li
          %a{:href=>"/#benefits"} BENEFITS
        %li
          %a{:href=>"/#tour"} TOUR
        %li
          %a{:href=>"/#pricing"} PRICING
        %li
          %a{:href=>"/#team"} THE TEAM
        %li
          %a BLOG
        %li
          %a{:href=>"/#contact"} CONTACT
    / /.navbar-collapse
  / /.container
/ End of NAV BAR
/ HEADER
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message.col-xs-12.col-sm-7#home
          %h2 A new way to manage your construction project.
          %p Designed for you, the homeowner, taking the fear of the unknown out of the home building process and giving you a sense of control even if you have never built before and even you don't know the first thing about construction.
          %a{:href=>"/#pricing"}
            %button.btn.btn-success
              SIGN UP NOW AND SAVE 
              %img{:src=>"/img/arrow-down.svg"}
  / /.container
/ /.intro-header
/ End of HEADER
/ BENEFITS SECTION
.content-section-a#benefits
  %h1 Benefits 
  %hr.section-heading-spacer/
  .container
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt:"", src: "/img/benefits-easy.svg"}/
      %h4 EASY
      %p As easy to use as email. The program comes "pre-set" to build a typical home, all you have to do is adjust the timeline and budget parameters.
      %a{"data-toggle" => "collapse", :href => ".collapse1"} 
        Read more
      .collapse1.panel-collapse.collapse
        .panel-body
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-informative.svg"}/
      %h4 INFORMATIVE
      %p You can view the progress, timeline, budget, immediate to-do's and emails notices all at once and then drill down to get more information.
      %a{"data-toggle" => "collapse", :href => ".collapse2"} 
        Read more
      .collapse2.panel-collapse.collapse
        .panel-body
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-affordable.svg"}/
      %h4 AFFORDABLE
      %p When you think of what you are riskind and investing, and it's potential outcomes, this program is astonishingly affordable, practical and a must have.
      %a{"data-toggle" => "collapse", :href => ".collapse3"} 
        Read more
      .collapse3.panel-collapse.collapse
        .panel-body
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

  / /.container
  .container
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-accountability.svg"}/
      %h4 ACCOUNTABILITY
      %p MyEZBuild's owner/builder contract holds the builder accountable to updating the budget and timeline on a specific weekly or bi-weekly basis.
      %a{"data-toggle" => "collapse", :href => ".collapse4"} 
        Read more
      .collapse4.panel-collapse.collapse
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-decision.svg"}/
      %h4 DECISIONS
      %p We have eliminated all the guess work by preparing a list of all the material selections you will need to make for a standard 3 bedroom, 2.5 bath home.
      %a{"data-toggle" => "collapse", :href => ".collapse5"} 
        Read more
      .collapse5.panel-collapse.collapse
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .benefits.col-md-4.col-sm-4
      %img.img-responsive{alt: "", src: "/img/benefits-mobility.svg"}/
      %h4 MOBILITY
      %p Documents, budgets, timelines, changes, material selections and communication, can be accessed from any mobbile device or computer with internet connection.
      %a{"data-toggle" => "collapse", :href => ".collapse6"} 
        Read more
      .collapse6.panel-collapse.collapse
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.      

/ /.content-section-a
/ End of BENEFITS SECTION
/ TOUR SECTION
.content-section-b#tour
  %h1 Tour
  %hr.section-heading-spacer/
  .container
    .row
      .col-md-6
        .clearfix
        %h3.section-heading
          ORGANIZE YOUR PROJECT
        %ul.lead
          %li Urgent To-do's are shown on your dashboard when opening your project file.
          %li Create and date your to-do items and they will progress from green, to yellow, to red automatically.
          %li Critical path To-do's are generated automatically for youby the builder when he set's up the timeline. These to-do's must be completed on time to keep the project on schedule.
        %a{"data-toggle" => "collapse", :href => ".collapse1"} 
          Read more
        .collapse1.panel-collapse.collapse
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-md-6
        %modal.fancybox{'data-fancybox-href' => '/img/tour-todo.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-todo.jpg"}/
    %hr.section-between-spacer/
    .row
      .col-md-6
        %a.fancybox{href: '/img/tour-timeline.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-timeline.jpg"}/
      .col-md-6
        .clearfix
        %h3.section-heading KNOW WHEN YOUR PROJECT WILL BE READY
        %ul.lead
          %li Having a timeline front and center everyday keeps everyone focus on the prixe, the move in date.
          %li Once the timeline is initially set up by your Builder, the owner will lock it in. Any subsequent changes to the timeline will be name and date stamped with whomever made the changes.
          %li The timeline is generated and linked to the to-do list, these "critical path" to-do's need to be checked off in order dor the timeline to move forward.
      %a{"data-toggle" => "collapse", :href => ".collapse7"} 
        Read more
      .collapse7.panel-collapse.collapse
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %hr.section-between-spacer/
    .row
      .col-md-6
        .clearfix
        %h3.section-heading
          ALLOCATE YOUR BUDGET
        %ul.lead
          %li "Real time" Budget summary is always visible on your project dashboard.
          %li Once the builder has set budget, the owner will lock it in and all further changes will be name and date stamped with whomever made the changes
          %li All invoices accepted by the owner automatically update the budget.
          %li All change orders are shown in the busget for future budget projections.
        %a{"data-toggle" => "collapse", :href => ".collapse8"} 
          Read more
        .collapse8.panel-collapse.collapse
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-md-6
        %a.fancybox{href: '/img/tour-budget.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-budget.jpg"}/
    %hr.section-between-spacer/
    .row
      .col-md-6
        %a.fancybox{href: '/img/tour-messages.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-messages.jpg"}/
      .col-md-6
        .clearfix
        %h3.section-heading COMMUNICATE WITH YOUR TEAM
        %ul.lead
          %li Newest emails are visible on your dashboard.
          %li Keep your project communication separate from personal with integrated email.
          %li All communication is documentes throughout and archive at the close of the project.
      %a{"data-toggle" => "collapse", :href => ".collapse9"} 
        Read more
      .collapse9.panel-collapse.collapse
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %hr.section-between-spacer/
    .row
      .col-md-6
        .clearfix
        %h3.section-heading
          YOUR HOME, YOUR STYLE
        %ul.lead
          %li Pre-set itemized list of products and materials for the interior and exterior of your house.
          %li Add rooms and materials as needed to customize settings to your project.
          %li Builder will assign dates to materials that are part of the critical path.
          %li Once you have decided a selection if final just check the box in the file, the folder color changes, and a copy is automatically sent to the builder as a signal to order the materials.
        %a{"data-toggle" => "collapse", :href => ".collapse10"} 
          Read more
        .collapse10.panel-collapse.collapse
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-md-6
        %a.fancybox{href: '/img/tour-materialsandfiles.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-materialsandfiles.jpg"}/
    %hr.section-between-spacer/
    .row
      .col-md-6
        %a.fancybox{href: '/img/tour-filecabinet.jpg'}
          %img.img-responsive{alt: "", src: "/img/tour-filecabinet.jpg"}/
      .col-md-6
        .clearfix
        %h3.section-heading EVERYTHING IN THE SAME PLACE
        %ul.lead
          %li Virtual file cabinet preset with typical folders you will need for your project.
          %li All invoices, change orders and estimates are automatically saved to their designated folders when they are accepted or rejected by you.
          %li All folders and files are available anytime from anywhere for your use.
          %li Easily add or change file folders as needed.
      %a{"data-toggle" => "collapse", :href => ".collapse11"} 
        Read more
      .collapse11.panel-collapse.collapse
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  / /.container
/ /.content-section-b
/ End of TOUR SECTION
/ PRICING SECTION
.content-section-a.pricing#pricing
  %h1 Pricing
  %hr.section-heading-spacer/
  .container
    .col-xs-12.col-md-8.col-md-offset-2
      %p.lead Sign up for MyEZBuild membership while it's still in development and you can lock in your monthly billing for a great discounted rate for life. Billing will start only when the product is released.
    .clearfix
    .row
      .col-md-4.col-sm-4.leads
        .prices
          %h3 BASIC
          %hr.section-heading-spacer/
          %h4.line-through $89/month
          %h4.important $39/month - Limited time only
          %hr.section-between-spacer/
          %ul.lead
            %li Single project at a time capabilities.
            %li Community home owners forum to exchange ideas and ask questions.
            %li
              Limited project management:
              %ul
                %li No virtual cabinet.
                %li No integrated email.
          %button.btn.btn-success.fancymodal{"data-fancybox-href" => "#lead-content","data-type" => 'BASIC'} CONTACT US TO GET STARTED
      .col-md-4.col-sm-4.leads
        .prices
          %h3 PREMIUM
          %hr.section-heading-spacer/
          %h4.line-through $145/month
          %h4.important $69/month - Limited time only
          %hr.section-between-spacer/
          %ul.lead
            %li
              Full Project management:
              %ul
                %li Virtual file cabinet.
                %li Integrated email.
            %li Manage up to 3 projects at a time.
            %li Community home owners forum to exchange ideas and ask questions.
          %button.btn.btn-success.fancymodal{"data-fancybox-href" => "#lead-content","data-type" => 'PREMIUM'} CONTACT US TO GET STARTED
      .col-md-4.col-sm-4.leads
        .prices
          %h3 ULTRA
          %hr.section-heading-spacer/
          %h4.line-through $195/month
          %h4.important $99/month - Limited time only
          %hr.section-between-spacer/
          %ul.lead
            %li Unlimited number of projects.
            %li 1-hour phone call consultation with the EZ Build team per month.
            %li Unlimited emails to My EZ Builds team regarding your home building process.
          %button.btn.btn-success.fancymodal{"data-fancybox-href" => "#lead-content","data-type" => 'ULTRA'} CONTACT US TO GET STARTED
    .row
      .col-md-10.checkmarks
        .col-md-6
          %ul.list-inline
            %li
              %img{:src=>"/img/checkmark.svg"}
            %li.lead Monthly billing, as long as your project is active.
          %ul.list-inline
            %li
              %img{:src=>"/img/checkmark.svg"}
            %li.lead You can cancel your subscription at anytime.
          %ul.list-inline
            %li
              %img{:src=>"/img/checkmark.svg"}
            %li.lead 60 day money back guarantee.
        .col-md-6
          %ul.list-inline
            %li
              %img{:src=>"/img/checkmark.svg"}
            %li.lead Full software support forum.
          %ul.list-inline
            %li
              %img{:src=>"/img/checkmark.svg"}
            %li.lead Community forum of others building a home.
    %hr.section-between-spacer/
    %p.lead It is helpful to remember that most bank construction loans require that the home be completed in 9-12 months. So you will only need a subscription to this service for as long as you need your project active. When you are finished you can archive and download your project. It is free to reactivate MyEZBuild at any time as well as upgrade your subscription.
  / /.container
/ /.content-section-a
/ End of PRICING SECTION
/ THE TEAM SECTION
.content-section-b#team
  %h1 The Team
  %hr.section-heading-spacer/
  .container
    .row
      .col-md-4.col-sm-4.text-center.visible-xs
        %img{:src=>"/img/tirzah.jpg"}
      .col-md-8.col-sm-8
        %h3 TIRZAH LYNN WOODS
        %p.smalleritalic Degree: B.A. in Interior Design 1993
        %p.smalleritalic Currently is completing her internship to become an architect in the state of Washington.
        %p.lead Tirzah has been designing homes and interior spaces for commercial and residential clients for over 20 years in her own practice and with architecture firms.
        %p.lead Her Call to Action Moment:
        %p.lead Over the years I have heard really sad stories from my clients about their house build, but It wasn't until my sister built her home a year ago that I finally said enough is enough. Why do the nicest clients always seem to have the worst stories? It shouldn't be this way! There had to be some way to fix this!
        %a{"data-toggle" => "collapse", :href => ".collapse12"} 
          Read more
        .collapse12.panel-collapse.collapse
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-md-4.col-sm-4.text-center
        %img{:src=>"/img/tirzah.jpg"}
    .row
      .col-md-4.col-sm-4.text-center.hidden-xs
        %img{:src=>"/img/jeffrey.jpg"}
      .col-md-8
        %h3 JEFFREY K. WOODS
        %p.smalleritalic Degree: B.S. in Biology and Environmental Science '93
        %p.lead While Jeff has generally worked in the commercial building trades, he has gutted and rebuilt homes and built them from the ground up. Over 20 years he has performed and mastered every aspect of home building pouring concrete, framing, roofing, wiring and plumbing, to drywall, tile and trim.
        %p.lead Jeff has done it all, and his insights are invaluable to this program in tems of its knowledge of home building sequences, methods and best practices.
        %a{"data-toggle" => "collapse", :href => ".collapse13"} 
          Read more
        .collapse13.panel-collapse.collapse
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .row
      .col-md-8.col-sm-8
        %h3 SOFTWARE CRIOLLO
        %p Lalala
        %p.lead Bio text.
        %a{"data-toggle" => "collapse", :href => ".collapse14"} 
          Read more
        .collapse14.panel-collapse.collapse
          .panel-body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-md-4.col-sm-4.text-center
        %img{:src=>"/img/softwarecriollo.jpg"}
/ End of THE TEAM SECTION
/ FOOTER
%footer#contact
  .container
    .row
      .col-md-4.col-sm-4
        %p.lead My EZ Build
        %p.lead P.O. Box XXXX
        %p.lead Bellingham WA, 98225
      .col-md-4.col-sm-4
      .col-md-4.col-sm-4
        %p.lead Contact us:
        %a.lead{:href=>"mailto:support@myezbuild.com"} support@myezbuild.com
        %a.lead{:href=>"mailto:softwaresupport@myezbuild.com"} softwaresupport@myezbuild.com

/Modal
        
#lead-content{style: "display: none;"}
  %section.form{ style: "width: 400px;"}
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        %h2{style:"font-size: 35px;"} Contact Us
        %form#lead{action: "#{url "/leads"}", method: "POST", role: "form"}
          = haml :"_form", :layout => false

/javascript for this page

%link{href: "js/fancybox/jquery.fancybox.css", rel: "stylesheet", type: "text/css"}
%script{src: "js/fancybox/jquery.mousewheel-3.0.6.pack.js"}
%script{src: "js/fancybox/jquery.fancybox.js"}
%script{src: "js/jquery.tooltipster.js"}
%script{src: "js/lead.js"}



