@font-face {
	font-family: 'Frutiger';
	src: url('/fonts/FrutigerLTStd-Roman.eot?') format('eot'), 
	     url('/fonts/FrutigerLTStd-Roman.otf')  format('opentype'),
	     url('/fonts/FrutigerLTStd-Roman.woff') format('woff'), 
	     url('/fonts/FrutigerLTStd-Roman.ttf')  format('truetype'),
	     url('/fonts/FrutigerLTStd-Roman.svg#FrutigerLTStd-Roman') format('svg');
}

@font-face {
	font-family: 'FrutigerLight';
	src: url('/fonts/FrutigerLTStd-Light.eot?') format('eot'), 
	     url('/fonts/FrutigerLTStd-Light.otf')  format('opentype'),
	     url('/fonts/FrutigerLTStd-Light.woff') format('woff'), 
	     url('/fonts/FrutigerLTStd-Light.ttf')  format('truetype'),
	     url('/fonts/FrutigerLTStd-Light.svg#FrutigerLTStd-Light') format('svg');
}


body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "FrutigerLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

h1 {
	font-size: 4em;
	letter-spacing: -1px;
}

h2 {
	font-family: "Frutiger", "Helvetica", "Arial";
	font-size: 3.6em;
	line-height: 1em;
}

h4 {
	text-transform: uppercase;
	font-family: 3.5em !important;
}

p {
	font-size: 1.7em;
	font-family: "FrutigerLight", "Helvetica Neue", "Arial", "sans-serif";
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(/img/home_intro_bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.intro-message {
	padding-top: 14%;
	padding-bottom: 20%;
	text-align: left;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-image: url("/img/benefits-bg.jpg");
	padding: 50px 0;
}

.content-section-a h1, .content-section-b h1 {
	text-align: center;
}

.content-section-a .container, .content-section-b .container{
	margin: 2em auto;
}
.benefits {
	text-align: center;
}

.benefits p {
	font-size: 1.3em;
}

.benefits img{
	margin: 1em auto;
}

.content-section-b {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	padding: 50px 0;
}

.content-section-b .row {
	margin: 3em 0;
}

.content-section-a.pricing{
	background-image:url('/img/pricing-bg.jpg');
	overflow: hidden;
}

.content-section-a.pricing .lead {
	text-align: center;
	margin: 1em 0 2em 0;
}
.content-section-a .col-md-9{
	margin: 0 0 0 10em;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 1px solid #aeaeae;
	width: 200px;
	margin: 0 auto;
}

.section-between-spacer {
	border-top: 1px solid #d0d0d0;
	width: cover;
}

ul {
	margin-left: -22px;
}

li {
	line-height: 1.7em;
}

li.lead {
	margin: 0 !important;
}

.col-md-4 {
	/*width: 31% !important;*/
}

.col-md-10.checkmarks {
	margin: 3% 0 0 10% !important;
}

.prices {
	background-color: white;
	margin: 0 2.2% 0 0;
	padding: 3%;
}

.prices .section-heading-spacer{
	width: 100px !important;
}

.prices .section-between-spacer{
	width: 50%;
}

.prices h3, .prices h4 {
	text-align: center;
}

.prices h4 {
	font-size: 1.5em;
	text-transform: none;
}

.prices li {
	text-align: left;
}

.prices .btn{
  font-size: 1.4em;
	width: 96%;
	margin: 0 0 15px 2%; 
}
.line-through {
	text-decoration: line-through;
}

.important {
	color: #e3576d;
}

footer {
	background-image: url('/img/footer-bg.jpg');
	padding: 50px 0;
}

footer p {
	color: white;
	line-height: 0.5em !important;
}

footer a {
	text-transform: none;
}

.smalleritalic {
	font-size: 100%;
	font-style:italic;
}
@media (min-width: 768px) and (max-width: 991px) {
	.leads {
		padding-left: 5px;
		padding-right: 5px;
	}
	.prices .btn {
		font-size: 1em;
		width: 100%;
		margin: 0 0 15px 0;
		padding: 5px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.prices .btn {
		font-size: 1.3em;
		width: 100%;
		margin: 0 0 15px 0;
		padding: 5px;
	}
}

@media (max-width: 767px) {
	.leads {
		padding-left: 5px;
		padding-right: 5px;
	}
	.prices .btn {
		font-size: 1em;
		width: 100%;
		margin: 0 0 15px 0;
		padding: 5px;
	}
}